## Variables y Tipos de Datos

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [22]:
numero_entero = 11
print("El numero entero es:", numero_entero)

El numero entero es: 11

2) Imprimir el tipo de dato de la variable 8.5

In [23]:
variable = 8.5
print("El tipo de dato de la variable es: ", type(variable))

El tipo de dato de la variable es:  <class 'float'>

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [24]:
print("El tipo de dato de la variable es: ", type(numero_entero))

El tipo de dato de la variable es:  <class 'int'>

4) Crear una variable que contenga tu nombre

In [25]:
nombre_propio = "Nazarena Quattrini"
print("Mi nombre es:", nombre_propio)

Mi nombre es: Nazarena Quattrini

5) Crear una constante que contenga el número Pi

In [26]:
import math
PI = math.pi
print("El valor de pi es:", PI)

El valor de pi es: 3.141592653589793

6) Mostrar el tipo de dato de la variable creada en el punto 5

In [27]:
print("El tipo de dato de la constante es:", type(PI))

El tipo de dato de la constante es: <class 'float'>

7) Crear una variable que contenga el valor del número **e** (número de euler) redondeado a 4 decimales

In [28]:
import math
e_redondeado = round (math.e, 4)
print("El valor de e (Numero de Euler) redondeado a 4 decimales es:", e_redondeado)

El valor de e (Numero de Euler) redondeado a 4 decimales es: 2.7183

In [29]:
e_aproximado = round (2.718281828459045, 4)
print("El valor de e redondeado a 4 decimales es:", e_aproximado)

El valor de e redondeado a 4 decimales es: 2.7183

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [30]:
booleano_texto = 'True'
booleano_palabra_clave = True
print("El tipo de dato de la variable 'booleano_texto' es:", type(booleano_texto))
print("El tipo de dato de la variable 'booleano_palabra_clave' es:", type(booleano_palabra_clave))

El tipo de dato de la variable 'booleano_texto' es: <class 'str'>
El tipo de dato de la variable 'booleano_palabra_clave' es: <class 'bool'>

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [31]:
booleano_texto = 'True'
booleano_palabra_clave = True
print("El tipo de dato de la variable 'booleano_texto' es:", type(booleano_texto))
print("El tipo de dato de la variable 'booleano_palabra_clave' es:", type(booleano_palabra_clave))

El tipo de dato de la variable 'booleano_texto' es: <class 'str'>
El tipo de dato de la variable 'booleano_palabra_clave' es: <class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro flotante

In [32]:
a = 11
b = 10.5
print(a+b)

21.5

In [33]:
print (numero_entero+variable)

19.5

11) Realizar una operación de suma de un número definido como string con un entero

In [34]:
numero_string = "10"
numero_entero = 11
resultado = int(numero_string) + numero_entero

12) Crear una variable que contenga el valor del punto 7 elevado al cubo (potencia de 3)

In [35]:
valor_al_cubo = e_redondeado ** 3
print("El valor del punto 7 elevado al cubo es:", valor_al_cubo)

El valor del punto 7 elevado al cubo es: 20.085939737487003

13) Pedir al usuario que ingrese un número por teclado y realizar una operación de multiplicación

In [57]:
entrada_usuario = float(input("Ingrese un número por teclado:"))
factor = 5
resultado = entrada_usuario * factor
print("El resultado de multiplicar", entrada_usuario, "por", factor, "es:", resultado)

El resultado de multiplicar 3.0 por 5 es: 15.0

14) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [37]:
cociente = 27 / 4
print("El cociente de la división de 27 entre 4 es:", cociente)

El cociente de la división de 27 entre 4 es: 6.75

15) De la división anterior solamente mostrar la parte entera

In [38]:
parte_entera = int(cociente)
print("La parte entera de la división es:", parte_entera)

La parte entera de la división es: 6

16) De la división de 27 entre 4 mostrar solamente el resto

In [39]:
resto = 27 % 4
print("El resto de la división es:", resto)

El resto de la división es: 3

17) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 15 y 16, obtener 27 como resultado

In [40]:
parte_entera
resto
operando = 4
resultado = (parte_entera * operando) + resto
print("El resultado es:", resultado)

El resultado es: 27

18) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [41]:
resultado2_2 = "2" == 2
print(resultado2_2)

False

In [42]:
La cadena "2" y el número 2 son de tipos diferentes: uno es un string y el otro es un entero.

SyntaxError: invalid syntax (1831461490.py, line 1)

19) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 18 resulte verdadera

In [ ]:
resultado2_2_2 = int("2") == 2
print(resultado2_2_2)

True

In [ ]:
"2" se convierte a un número entero por la función int(), y luego se compara con el número 2

20) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [ ]:
a = float("3,8") #POR LA COMA

ValueError: could not convert string to float: '3,8'

In [ ]:
a = float('3.8')
print(a)

3.8

21) Realizar la operación 10 + '10' ¿Por qué no está permitido? ¿Si los dos operandos fueran del mismo tipo, siempre arrojaría el mismo resultado?

In [ ]:
No está permitido porque se están sumando un numero entero y una cadena de texto.

22) Crear una variable que contenga un menú con los elementos MENU: 1 - Pizza, 2 - Empanadas, 3 - Milanesas, 4 - Salir, y luego mostrarlo por pantalla

In [ ]:
menu ="""
MENU: 1-Pizza, 2-Empanadas, 3-Milanesas, 4-Salir
"""
print(menu)

MENU: 1-Pizza, 2-Empanadas, 3-Milanesas, 4-Salir

In [ ]:
menu_2 = "MENU:\n1 - Pizza\n2 - Empanadas\n3 - Milanesas\n4 - Salir"
print(menu_2)

MENU:
1 - Pizza
2 - Empanadas
3 - Milanesas
4 - Salir

23) Crear una lista que contenga los números del 1 al 10

In [ ]:
lista_numeros = list(range(1, 11))
print (lista_numeros)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

24) Imprimir el penultimo elemento de la lista creada en el punto 23

In [ ]:
print("El penúltimo elemento de la lista es:", lista_numeros[-2])

El penúltimo elemento de la lista es: 9

25) Modificar el tercer elemento de la lista creada en el punto 23 poniendo tu nombre

In [ ]:
lista_numeros[2] = "Nazarena"
print(lista_numeros)

[1, 2, 'Nazarena', 4, 5, 6, 7, 8, 9, 10]

26) Construir una matriz de 3x3 que contenga las letras A, B, C, D, E, F, G, H, I

In [ ]:
matriz = [['A', 'B', 'C'], ['D', 'E', 'F'],['G', 'H', 'I']]
print(matriz)

[['A', 'B', 'C'], ['D', 'E', 'F'], ['G', 'H', 'I']]

27) Imprimir la matriz creada en el punto 26

In [ ]:
for fila in matriz:
    print(fila)

['A', 'B', 'C']
['D', 'E', 'F']
['G', 'H', 'I']

28) Modificar la letra E de la matriz y colocar la letra Z

In [ ]:
matriz[1][1] = 'Z'
print(matriz)

[['A', 'B', 'C'], ['D', 'Z', 'F'], ['G', 'H', 'I']]

29) Cambiar las primeras 3 letras de la matriz por los números 1, 2 y 3

In [ ]:
matriz[0][0] = 1
matriz[0][1] = 2
matriz[0][2] = 3
print(matriz)

[[1, 2, 3], ['D', 'Z', 'F'], ['G', 'H', 'I']]

30) Crear una tupla que contenga 5 marcas de ropa

In [ ]:
tupla = tuple()
tupla_ropa = (("Adidas", "H&M", "Zara", "Nike", "Chanel"))
tupla=tupla_ropa
print (tupla)

('Adidas', 'H&M', 'Zara', 'Nike', 'Chanel')

31) Imprimir el primer elemento de la tupla creada en el punto 30

In [ ]:
print("El primer elemento de la tupla es:", tupla_ropa[0])

El primer elemento de la tupla es: Adidas

32) Intenta modificar el segundo elemento de la tupla. ¿Por qué no se puede?

In [ ]:
Las tuplas no se pueden modificar ni agregar o eliminar elementos

33) Crear un diccionario que contenga las claves 'nombre', 'apellido', 'edad' y 'hobbies' y asignarle los valores correspondientes (los hobbies deben ser una lista con al menos 3 elementos)

In [ ]:
alumno1 = {
    "Nombre" : "Nazarena",
    "Apellido": "Quattrini",
    "Edad" : 23,
    "Hobbies": ["Leer", "yoga", "pilates", "gimnasio"],
 }
print(alumno1)

{'Nombre': 'Nazarena', 'Apellido': 'Quattrini', 'Edad': 23, 'Hobbies': ['Leer', 'yoga', 'pilates', 'gimnasio']}

34) Imprimir el valor de la clave 'hobbies' del diccionario creado en el punto anterior

In [ ]:
print("Los hobbies son:", alumno1["Hobbies"])

Los hobbies son: ['Leer', 'yoga', 'pilates', 'gimnasio']

35) Modificar el valor de la clave 'edad' del diccionario y mostrarlo por pantalla

In [ ]:
alumno1["Edad"] = 20
print("Edad actualizada", alumno1)
print(alumno1["Edad"])

Edad actualizada {'Nombre': 'Nazarena', 'Apellido': 'Quattrini', 'Edad': 20, 'Hobbies': ['Leer', 'yoga', 'pilates', 'gimnasio']}
20